    /*========================================
    HEADER
    ========================================*/
    .header {
      width: 100%;
      height: 70px;
      background-color: #DC3545;
      display: flex;
      align-items: center;
      padding: 0 20px;
      position: relative;
      border-bottom: 4px solid #f55145;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }
    
    .cb-logo {
      position: absolute;
      height: 75px;
      top: 3px;
      left: 8px;
      z-index: 10;
    }
    
    .mark-logo {
      position: absolute;
      top: 3px;
      left: 4px;
      z-index: 10;
      height: 65px;
      width: 60px;
    }

    .header-title-container {
      flex-grow: 1;
      left: 55px;
    }

    .header-title {
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin: 0 60px;
      margin-left: 85px;
    }        

    .header-nr {
      display: none;
    }

    .header-subtitle,
    .header-authorization {
      color: #FFE6E6;
      font-size: 12px;
      margin: 0 15px;
      margin-left: 85px;
    }

    .header-authorization {
      font-style: italic;
      font-size: 10px;
    }

    .header-badge-360 {
      background-color: #B02A37;
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 14px;
    }

    .header-logout-btn {
      background-color: #B02A37;
      border: none;
      color: white;
      font-size: 20px;
      margin-left: 10px;
      cursor: pointer;
      transition: transform 0.2s;
    }

    #logoutBtn:hover {
      transform: scale(1.2);
    }

