    .header {
      width: 100%;
      height: 70px;
      background-color: #DC3545;
      display: flex;
      align-items: center;
      padding: 0 20px;
      position: relative;
      border-bottom: 4px solid #f55145;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    .header-logo {
      height: 60px;
      margin-top: 4px;
      margin-left: 0px;
    }

    .header-title-container {
      flex-grow: 1;
    }

    .header-title {
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin: 0 15px;
    }

    .header-nr {
      display: none;
    }

    .header-subtitle,
    .header-authorization {
      color: #FFE6E6;
      font-size: 12px;
      margin: 0 15px;
    }

    .header-authorization {
      font-style: italic;
      font-size: 10px;
    }

    .header-badge-360 {
      background-color: #B02A37;
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 14px;
    }

    #logoutBtn:hover {
      transform: scale(1.2); 

    }   

